<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="DeliciousMap">
	<insert id="insertMap"
		parameterType="com.bit.emoji.model.DeliciousMapVO"
		useGeneratedKeys="true" keyProperty="deliciousMapNum">
		insert into deliciousMap
		values
		(#{deliciousMapNum}, #{memberNum}, #{deliciousMapName},
		#{deliciousMapTag}, #{deliciousMapDetail}, #{deliciousMapOpen},
		#{deliciousMapCreateDate})
	</insert>

	<select id="selectMapByDeliciousMapNum"
		resultType="com.bit.emoji.model.DeliciousMapVO" parameterType="int">
		select *
		from deliciousMap
		where deliciousMapNum=#{deliciousMapNum}
	</select>

	<select id="selectMapByMemberNum" resultType="int"
		parameterType="int">
		select deliciousMapNum from deliciousMap
		where
		memberNum=#{memberNum}
		order by deliciousMapCreateDate desc
		limit 1
	</select>

	<select id="selectMapByKeyword"
		resultType="com.bit.emoji.model.DeliciousSearchVO" parameterType="map">
		select DISTINCT deliciousMap.deliciousMapNum,
		deliciousMap.deliciousMapName, deliciousMap.deliciousMapTag,
		deliciousMap.deliciousMapDetail, delicious.deliciousImg
		from
		deliciousMap
		right outer join delicious
		on
		deliciousMap.deliciousMapNum=delicious.deliciousMapNum
		<where>
			<if test="deliciousMapName != null and deliciousMapTag != null">
				deliciousMapName like CONCAT('%',#{deliciousMapName},'%')
				or deliciousMapTag like CONCAT('%',#{deliciousMapTag},'%')
			</if>
		</where>
		group by deliciousMapNum;
	</select>

	<select parameterType="int" id="selectMapDetail"
		resultType="com.bit.emoji.model.DeliciousMapVO"> select deliciousMap.deliciousMapDetail,
		deliciousMap.deliciousMapName, deliciousMap.deliciousMapNum,
		date_format(str_to_date(deliciousMap.deliciousMapCreateDate, '%Y-%m-%d
		%H:%i:%s'), '%Y-%m-%d') deliciousMapCreateDate,
		member.memberEmail,
		member.memberNum from
		deliciousMap join member on
		deliciousMap.memberNum=member.memberNum
		where
		deliciousMapNum=#{deliciousMapNum}
	</select>

	<select parameterType="int" id="selectMapDetailDelicious"
		resultType="com.bit.emoji.model.DeliciousVO"> select * from delicious where
		deliciousMapNum=#{deliciousMapNum}
	</select>

	<select parameterType="int" id="selectMapDetailReview"
		resultType="com.bit.emoji.model.DeliciousMapReviewVO"> select * from deliciousMapReview where
		deliciousMapNum=#{deliciousMapNum}
	</select>

	<select parameterType="int" id="selectMapReviewAvg"
		resultType="float"> select IFNULL(round(avg(deliciousMapGrade),1),0.0)
		from
		deliciousMapReview where deliciousMapNum=#{deliciousMapNum}
	</select>

	<select parameterType="com.bit.emoji.model.DeliciousMapScrapVO"
		id="selectScrapCheck" resultType="int">
		select count(*) FROM
		deliciousMapScrap where
		memberNum=#{memberNum} and
		deliciousMapNum=#{deliciousMapNum}
	</select>


	<insert parameterType="com.bit.emoji.model.DeliciousMapScrapVO"
		id="insertScrap"> insert into deliciousMapScrap values (#{memberNum},
		#{deliciousMapNum})
	</insert>

	<delete parameterType="com.bit.emoji.model.DeliciousMapScrapVO"
		id="deleteScrap"> DELETE FROM deliciousMapScrap WHERE memberNum=#{memberNum} and
		deliciousMapNum=#{deliciousMapNum}
	</delete>

	<insert id="insertMapReview"
		parameterType="com.bit.emoji.model.DeliciousMapReviewVO"
		useGeneratedKeys="true" keyProperty="deliciousMapReviewNum">
		insert into deliciousMapReview
		values
		(#{deliciousMapReviewNum}, #{memberNum}, #{deliciousMapNum},
		#{deliciousMapTitle}, #{deliciousMapContent},
		#{deliciousMapWriteDate},
		#{deliciousMapImg},
		#{deliciousMapGrade})
	</insert>
	
	<delete parameterType="int"
		id="deleteMapReview"> DELETE FROM deliciousMapReview WHERE 
		deliciousMapReviewNum=#{deliciousMapReviewNum}
	</delete>

	<insert id="insertPin"
		parameterType="com.bit.emoji.model.DeliciousVO"
		useGeneratedKeys="true" keyProperty="deliciousNum">
		insert into delicious
		values
		(#{deliciousNum}, #{deliciousMapNum}, #{deliciousName},
		#{deliciousAddress}, #{deliciousCategory}, #{deliciousPhone},
		#{deliciousGrade}, #{deliciousDetail}, #{deliciousImg})
	</insert>

	<select id="selectPinListBydeliciousMapNum"
		resultType="com.bit.emoji.model.DeliciousVO" parameterType="int">
		select *
		from delicious
		where deliciousMapNum=#{deliciousMapNum}
	</select>
</mapper>