<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">
	<insert id="insertMember" parameterType="com.bit.emoji.model.MemberVO"  useGeneratedKeys="true" keyProperty="id">
		insert into member (memberNum, memberEmail, memberPassword, memberName, memberGender, memberPhoneNum, memberRegDate)
		values ( (select *from (select max(memberNum)+1 from member) next), #{memberEmail}, #{memberPassword}, #{memberName}, #{memberGender}, #{memberPhoneNum}, #{memberRegDate})
	</insert>
	
	<select id="selectMemberByMemberEmail" parameterType="String" resultType="com.bit.emoji.model.MemberVO">
		select * from member where memberEmail=#{memberEmail}
	</select>
	
	<insert id="insertEmailKey" parameterType="com.bit.emoji.model.EmailKeyVO">
		insert into emailKey
		values (#{email}, #{emailKey}, now())
	</insert>
	
	<select id="selectMemberByAllowedEmail" parameterType="String" resultType="com.bit.emoji.model.EmailKeyVO">
		<![CDATA[
		select * from emailKey where email = #{email} and ( checkDate > date_add(now(), interval -1 hour)) order by checkDate DESC limit 1
		]]>
	</select>
	
	<update id="changePassword" parameterType="com.bit.emoji.model.MemberVO">
  		update member set memberPassword = #{memberPassword} where memberEmail = #{memberEmail}
	</update>
</mapper>