<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Mypage">
	<!-- 회원정보 상세조회 -->
	<select id="listAll" resultType="com.bit.emoji.model.MemberVO"
		parameterType="int">
		select
		memberEmail, memberName, memberPassword,
		memberGender, memberPhoneNum,
		memberJoinGrade, memberCapGrade
		from
		member
		where memberNum = #{memberNum}

	</select>

	<!-- 회원정보수정 -->
	<update id="updateMember"
		parameterType="com.bit.emoji.model.MemberVO">
		UPDATE member SET
		memberEmail =#{memberEmail},
		memberName= #{memberName},
		memberPassword = #{memberPassword},
		memberGender = #{memberGender},
		memberPhoneNum = #{memberPhoneNum},
		memberJoinGrade =
		#{memberJoinGrade},
		memberCapGrade = #{memberCapGrade}
		WHERE
		memberNum = #{memberNum}

	</update>

	<!-- 내가 만든 지도 목록 조회 -->
	<select id="myDmList"
		resultType="com.bit.emoji.model.DeliciousMapVO" parameterType="int">
		select
		deliciousMapNum, deliciousMapName, deliciousMapTag,
		deliciousMapDetail, deliciousMapOpen,
		date_format(str_to_date(deliciousMapCreateDate, '%Y-%m-%d %H:%i:%s'),
		'%Y-%m-%d') deliciousMapCreateDate, memberNum
		from deliciousMap
		where
		memberNum = #{memberNum}
	</select>

	<!-- 지도 목록 리뷰 조회 -->
	<select id="myDmReview"
		resultType="com.bit.emoji.model.DeliciousMapReviewVO"
		parameterType="int">
		SELECT
		deliciousMapReviewNum,deliciousMapNum, memberNum,
		deliciousMapTitle, deliciousMapContent,
		deliciousMapWriteDate,
		deliciousMapImg,
		deliciousMapGrade
		FROM deliciousMapReview
		where
		deliciousMapNum = #{deliciousMapNum}
	</select>

	<!-- 지도 맛집목록 조회 -->

	<select id="myDeliciousList"
		resultType="com.bit.emoji.model.DeliciousVO" parameterType="int">
		SELECT
		deliciousNum, deliciousMapNum,
		deliciousName, deliciousAddress,
		deliciousCategory, deliciousPhone,
		deliciousGrade, deliciousDetail,
		deliciousImg
		FROM delicious
		where deliciousMapNum = #{deliciousMapNum};

	</select>

	<!-- deliciousMap 삭제 -->
	<delete id="deliciousMapDelete" parameterType="int">
		delete FROM
		emoji.deliciousMap where deliciousMapNum = #{deliciousMapNum};
	</delete>

	<!-- 공개 비공개 Button -->
	<update id="changeOpen"
		parameterType="com.bit.emoji.model.DeliciousMapVO">
		UPDATE emoji.deliciousMap
		SET
		deliciousMapOpen = #{deliciousMapOpen}
		WHERE deliciousMapNum = #{deliciousMapNum};
	</update>

	<!-- 내가 만든 원정대 목록 조 -->
	<select id="myRouteList"
		resultType="com.bit.emoji.model.RouteVO" parameterType="int">
		SELECT
		routeNum, memberNum, routeName,
		possibleNum, startDate, spendTime,
		budget, rule, routeTag,
		encore, routeCreateDate, routeGrade
		FROM
		emoji.route
		where memberNum = #{memberNum};
	</select>


	
</mapper>