<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Search">
	<select resultType="com.bit.emoji.model.DeliciousMapVO"
		parameterType="String" id="getDmap"> 
		select deliciousMap.deliciousMapNum,
		deliciousMap.deliciousMapName, deliciousMap.deliciousMapDetail,
		delicious.deliciousImg, date_format(str_to_date(deliciousMap.deliciousMapCreateDate, '%Y-%m-%d %H:%i:%s'), '%Y-%m-%d') deliciousMapCreateDate,
		member.memberEmail, member.memberNum from member join (delicious
		right
		outer join
		deliciousMap on
		deliciousMap.deliciousMapNum=delicious.deliciousMapNum) on
		deliciousMap.memberNum=member.memberNum where
		deliciousMapName like
		CONCAT('%',#{search},'%') or deliciousMapDetail
		like
		CONCAT('%',#{search},'%') and deliciousMapOpen='open'
		group by deliciousMapNum order by
		deliciousMapNum
	</select>

	<select resultType="com.bit.emoji.model.RouteVO"
		parameterType="String" id="getRoute"> select route.routeNum, route.routeName, route.possibleNum,
		date_format(str_to_date(route.routeCreateDate, '%Y-%m-%d
		%H:%i:%s'), '%Y-%m-%d') routeCreateDate, route.rule, member.memberName, member.memberNum from route join
		member on
		route.memberNum=member.memberNum where route.routeName like
		CONCAT('%',#{search},'%') </select>

	<select resultType="int" parameterType="int" id="getCount"> select
		count(*)
		from deliciousMapScrap where deliciousMapNum=#{count}
	</select>

</mapper>